@media screen and (min-width: 1200px) {
  body {
    //background-image: url(https://source.unsplash.com/random/1600x900); //这一行的括号里填背景图片的路径，将图片重命名为background.jpg放在\themes\next\source\images下
    background-image:url(/images/config/background.png);      //这一行的括号里填背景图片的路径，将图片重命名为background.jpg放在\themes\next\source\images下
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: 100% 100%;
  }

  #footer a {
    coler: #eee;
  }
}

.content-wrap
.post-block
.pagination
.header-inner
.sidebar-inner
.sidebar
.comments {
  background: rgba(255, 255, 255, 0.7);
}
